@import 'variable';

.enter-total {
  height: auto;
  .theme-h2 {
    margin: .27rem 0 .3rem;
    h3{
      font-weight: bold;
    }
  }
}

.serve-facticity {
  .true-list {
    padding-top: .4rem;
  }
}

.table {
  th:first-child{
    // text-indent: .15rem;
    color: #333;
  }
  th{
    height: .4rem;
    font-size: .12rem;
    color: #666;
    text-align: center;
  }
  td:first-child{
    text-indent: 0;
    text-align: center;
  }
}

.active-serve {
  .active-info {
    margin: .26rem 0 .4rem;
    text-align: center;
    .title {
      margin-bottom: .09rem;
      color: #666;
      font-size: .12rem;
      line-height: .18rem;
    }
    span {
      color: $blue;
      font-size: .24rem;
    }
  }
}

app-img-text-sheets {
  margin-bottom: .2rem;
  padding-left: .1rem;
}
