<div class="page-body">
  <app-top-nav [theme]="'serve'" [bannerInfo]="bannerInfo"></app-top-nav>
  <!-- 进站统计 -->
  <app-section theme="h1" moduleTitle="车辆在站统计" order-number="01" class="enter-total">
    <app-account-if-add [data]="summaryData"></app-account-if-add>
    <div class="theme-h2">
      <h3>按{{ reportData?.typeLabel }}统计车辆服务情况</h3>
      <p class="line"></p>
    </div>
    <table class="table">
      <tr>
        <th width='55'>{{ reportData?.typeLabel }}</th>
        <th width='60'>在站总次数</th>
        <th width='60'>涉及车辆数</th>
        <th width='85'>平均在站时长(h)</th>
      </tr>
      <tr *ngFor="let item of enterPart.brandCarEnterTotal">
        <td>{{ item.brandName }}</td>
        <td>{{ item.inFenceCount }}</td>
        <td>{{ item.vehicleCount }}</td>
        <td>{{ item.avgInFenceTime }}</td>
      </tr>
    </table>
  </app-section>
  <!-- 服务真实性 -->
  <app-section theme="h1" moduleTitle="服务真实性统计" order-number="02" class="serve-facticity">
    <div class="serve-facticity-chart">
      <app-pie [id]="'truePie'" chartTitle="服务情况" [pieData]="trueScale" [chartColor]="truePart.color" [label]="true" [nameData]="true"></app-pie>
    </div>
    <div class="true-list">
      <app-img-text-sheets [sheetsList]="facticityList"></app-img-text-sheets>
    </div>
  </app-section>
  <!-- 各品牌不真实比例 -->
  <app-section theme="h2" moduleTitle="按{{ reportData?.typeLabel }}统计车辆服务不真实情况" class="false-scale">
    <div class="progress-box">
      <app-progress [data]="falsePart.falseData"></app-progress>
    </div>
  </app-section>
  <!-- 主动服务 -->
  <app-section theme="h1" moduleTitle="故障推送及处理情况" *ngIf="!isLeisa" order-number="03" class="active-serve">
    <div class="active-info">
      <p class="title">故障推送总数</p>
      <span class="totle">{{ activePart.activeInfo.sendTotal }}</span>
    </div>
    <app-img-text-sheets [sheetsList]="activeList"></app-img-text-sheets>
  </app-section>
  <app-logo-bottom></app-logo-bottom>
</div>
