@import 'variable';

.pie-list {
  height: 2.14rem;
  display: flex;
  align-items: center;
  .chart {
    width: 40%;
    height: 50%;
  }
  .list {
    // padding-top: .3rem;
    width: 60%;
    table {
      width: 100%;
      tr {
        height: .4rem;
        td {
          width: 33.33%;
          color: #666;
          font-size: .14rem;
          text-align: center;
          &:last-child {
            color: $blue;
          }
          &:first-child {
            min-width: .78rem;
            text-align: left;
          }
          &:not(:first-child) {
            text-align: left;
            padding-left: .05rem;
          }
          .icon {
            margin-top: .04rem;
            margin-right: .1rem;
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
