<div class="data-body">
  <h1>销售报告</h1>
  <ul>
    <li><a target="_blank" href="sell.html?data=assets/json/sell/50121_201839.json">2018年39周 周报</a></li>
    <li><a target="_blank" href="sell.html?data=assets/json/sell/50121_201840.json">2018年40周 周报</a></li>
  </ul>
  <h1>服务报告</h1>
  <ul>
    <li><a target="_blank" href="serve.html?data=assets/json/serve/50121_201840.json">2018年40周 周报</a></li>
    <li><a target="_blank" href="serve.html?data=assets/json/serve/50121_201841.json">2018年41周 周报</a></li>
    <li><a target="_blank" href="serve.html?data=assets/json/serve/50121_201842.json">2018年42周 周报</a></li>
    <li><a target="_blank" href="serve.html?data=assets/json/serve/50121_201843.json">2018年43周 周报</a></li>
  </ul>
  <h1>质量报告</h1>
  <ul>
    <li><a target="_blank" href="qe.html?data=assets/json/qe/50121_201846.json">2018年45周 周报</a></li>
    <li><a target="_blank" href="qe.html?data=assets/json/qe/50121_201847.json">2018年46周 周报</a></li>
  </ul>
  <h1>物流报告</h1>
  <ul>
    <li><a target="_blank" href="logistic.html?data=assets/json/logistic/50121_201840.json">2018年40周 周报</a></li>
    <li><a target="_blank" href="logistic.html?data=assets/json/logistic/50121_201841.json">2018年41周 周报</a></li>
    <li><a target="_blank" href="logistic.html?data=assets/json/logistic/50121_201846.json">2018年46周 周报</a></li>
    <li><a target="_blank" href="logistic.html?data=assets/json/logistic/50121_201847.json">2018年47周 周报</a></li>
  </ul>
  <h1>使用报告</h1>
  <ul>
    <li><a target="_blank" href="product.html?data=assets/json/product/50121_201844.json">2018年44周 周报</a></li>
    <li><a target="_blank" href="product.html?data=assets/json/product/50121_201845.json">2018年45周 周报</a></li>
  </ul>
  <!-- <nav class="navs">

    <a href="sell.html?data=assets/json/data.json" target="_blank">销售周报</a>
    <a href="serve.html?data=assets/json/serveData.json" target="_blank">服务周报</a>
    <a href="product.html?data=assets/json/product.json" target="_blank">使用报告</a>
    <a href="qe.html?data=assets/json/qe.json" target="_blank">质量周报</a>
    <a href="logistic.html?data=assets/json/logisticData.json" target="_blank">物流周报</a>
  </nav> -->
</div>
