<div class="data-body">
  <!-- <h1>销售报告</h1>
  <ul>
    <li><a target="_blank" href="sell.html?data=assets/json/sell/50121_201839.json">2018年39周 周报</a></li>
    <li><a target="_blank" href="sell.html?data=assets/json/sell/50121_201840.json">2018年40周 周报</a></li>
  </ul> -->
  <!-- <h1>服务报告</h1>
  <ul>

    <li><a target="_blank" href="serve.html?data=assets/json/serve/50121_201842.json">2018年42周 周报</a></li>
    <li><a target="_blank" href="serve.html?data=assets/json/serve/50121_201843.json">2018年43周 周报</a></li>
  </ul> -->
  <!-- <h1>质量报告</h1>
  <ul>
    <li><a target="_blank" href="qe.html?data=assets/json/qe/50121_201846.json">2018年45周 周报</a></li>
    <li><a target="_blank" href="qe.html?data=assets/json/qe/50121_201847.json">2018年46周 周报</a></li>
  </ul> -->
  <!-- <h1>物流报告</h1>
  <ul>
    <li><a target="_blank" href="logistic.html?data=assets/json/logistic/50121_201846.json">2018年46周 周报</a></li>
    <li><a target="_blank" href="logistic.html?data=assets/json/logistic/50121_201847.json">2018年47周 周报</a></li>
  </ul> -->
  <!-- <h1>使用报告</h1>
  <ul>
    <li><a target="_blank" href="product.html?data=assets/json/product/50121_201844.json">2018年44周 周报</a></li>
    <li><a target="_blank" href="product.html?data=assets/json/product/50121_201845.json">2018年45周 周报</a></li>
  </ul> -->

  <!-- <h1>老报告</h1>
  <ul>
    <li><a target="_blank" href="new_energy_report.html?data=assets/json/week_report_data.json">新能源老周报</a></li>
    <li><a target="_blank" href="report_by_brand.html?data=assets/json/month_report_data.json">欧曼老月报</a></li>
  </ul> -->
  <!-- <h1>按品牌</h1>
  <h5><a target="_blank" href="qe.html?data=assets/json/qe/new.json">测试质量报告</a></h5> -->


  <h1>销售报告</h1>
  <ul>
    <li><a target="_blank" href="sell.html?data=assets/json/vehicle/sell/ouman.json">欧曼报告</a></li>
    <li><a target="_blank" href="sell.html?data=assets/json/vehicle/sell/aoling.json">奥铃报告</a></li>
    <li><a target="_blank" href="sell.html?data=assets/json/vehicle/sell/leisa.json">雷萨报告</a></li>
    <li><a target="_blank" href="sell.html?data=assets/json/vehicle/sell/oumake.json">欧马可报告</a></li>
    <li><a target="_blank" href="sell.html?data=assets/json/vehicle/sell/shidai.json">时代报告</a></li>
  </ul>
  <h1>服务报告</h1>
  <ul>
    <li><a target="_blank" href="serve.html?data=assets/json/vehicle/serve-1801.json">欧曼报告</a></li>
    <li><a target="_blank" href="serve.html?data=assets/json/vehicle/serve/shidai.json">时代报告</a></li>
    <li><a target="_blank" href="serve.html?data=assets/json/vehicle/serve/oumake.json">欧马可报告</a></li>
    <li><a target="_blank" href="serve.html?data=assets/json/vehicle/serve/leisa.json">雷萨报告</a></li>
    <li><a target="_blank" href="serve.html?data=assets/json/vehicle/serve/aoling.json">奥铃报告</a></li>
  </ul>
  <h1>质量报告</h1>
  <ul>
    <li><a target="_blank" href="qe.html?data=assets/json/vehicle/qe/ouman.json">欧曼质量报告</a></li>
    <li><a target="_blank" href="qe.html?data=assets/json/vehicle/qe/shidai.json">时代质量报告</a></li>
    <li><a target="_blank" href="qe.html?data=assets/json/vehicle/qe/aoling.json">奥铃质量报告</a></li>
    <li><a target="_blank" href="qe.html?data=assets/json/vehicle/qe/leisa.json">雷萨质量报告</a></li>
    <li><a target="_blank" href="qe.html?data=assets/json/vehicle/qe/oumake.json">欧马可质量报告</a></li>
  </ul>
  <h1>用户大数据报告</h1>
  <ul>
    <li><a target="_blank" href="user-behavior.html?data=assets/json/vehicle/bigdata-201901.json">用户大数据报告</a></li>
  </ul>
  <h1>车联网报告</h1>
  <ul>
    <!-- <li><a target="_blank" href="terminal.html?data=assets/json/vehicle/terminal/50060_201902.json">欧曼报告</a></li>
    <li><a target="_blank" href="terminal.html?data=assets/json/vehicle/terminal/50080_201902.json">欧马可报告</a></li> -->
    <li><a target="_blank" href="terminal.html?data=assets/json/vehicle/terminal/50081_201902.json">时代报告</a></li>
    <li><a target="_blank" href="terminal.html?data=assets/json/vehicle/terminal/50082_201902.json">奥铃报告</a></li>
  </ul>

</div>
