<div class="total-info">
  <div *ngFor="let item of data" class="{{className}}">
    <p class="title">{{item.name}}</p>
    <span *ngIf="onlyOne" class="only-one"> {{item.number }} </span>
    <span *ngIf="!onlyOne" class="not-only-one">{{ item.number[0]}}</span>
    <!-- <span *ngIf="onlyOne">
      <span *ngFor='let a of (item.number| numberFormater)'>{{a}}</span>
    </span>
    <span *ngIf="!onlyOne">
      <span *ngFor='let a of (item.number[0] | numberFormater)'>{{a}}</span>
    </span> -->
    <div *ngIf="showNum">
      <p *ngIf="item.number[1] > 0" class="marker">
        <img src="assets/images/logistic/icon-up.svg" alt="">
        <span class="add">{{item.addValue }} </span>
      </p>
      <p *ngIf="item.number[1] == 0 || 0 > item.number[1] " class="noadd">
        <span></span>
      </p>
    </div>
  </div>
</div>
