<div *ngIf="!crown">
  <div class="flex sort" *ngIf="data.length > 0">
    <div class="sort-two">
      <i class="icon icon1"></i>
      <span class="font12 one-icon two" *ngIf="data[1].lift" [ngClass]="liftClass[data[1].lift]">2</span>
      <div class="content" *ngIf="data[1].lift">
        <span class="font12 con-title"><pre class="font12">{{data[1].title | sub}}</pre></span>
        <span class="font12 blue con-pro">{{data[1].progress}}</span>
      </div>
      <div class="content2" *ngIf="!data[1].lift">
        <span class="font14 blue con-pro con-pro-two">{{data[1].progress | unit: 'f'}}</span>
        <span class="font12 con-title con-title-two"><pre class="font12">{{data[1].title}}</pre></span>
        <span *ngIf="data[1].waybillNumber" class="font12 num"><pre class="font12">{{data[1].waybillNumber}}单</pre></span>
      </div>
    </div>
    <div class="sort-one">
      <b class="box"></b>
      <i class="icon icon2"></i>
      <span class="font12 one-icon one" *ngIf="data[0].lift" [ngClass]="liftClass[data[0].lift]">1</span>
      <div class="content" *ngIf="data[0].lift">
        <span class="font12 con-title"><pre class="font12">{{data[0].title | sub}}</pre></span>
        <span class="font12 blue con-pro">{{data[0].progress}}</span>
      </div>
      <div class="content2" *ngIf="!data[0].lift">
        <span class="font14 blue con-pro con-pro-one">{{data[0].progress | unit: 'f'}}</span>
        <span class="font12 con-title con-title-one"><pre class="font12">{{data[0].title}}</pre></span>
        <span *ngIf="data[0].waybillNumber" class="font12 num"><pre class="font12">{{data[0].waybillNumber}}单</pre></span>
      </div>
    </div>
    <div class="sort-three">
      <i class="icon icon3"></i>
      <span class="font12 one-icon three" *ngIf="data[2].lift" [ngClass]="liftClass[data[2].lift]">3</span>
      <div class="content" *ngIf="data[2].lift">
        <span class="font12 con-title"><pre class="font12">{{data[2].title | sub}}</pre></span>
        <span class="font12 blue con-pro">{{data[2].progress}}</span>
      </div>
      <div class="content2" *ngIf="!data[2].lift">
        <span class="font14 blue con-pro con-pro-three">{{data[2].progress | unit:'f'}}</span>
        <span class="font12 con-title con-title-three"><pre class="font12">{{data[2].title}}</pre></span>
        <span *ngIf="data[2].waybillNumber" class="font12 num"><pre class="font12">{{data[2].waybillNumber}}单</pre></span>
      </div>
    </div>
  </div>

  <div *ngIf="show10">
    <div *ngFor="let item of data.slice(3,10); let i=index" class="flex item">
      <p class="title">
        <i>{{i+4}}</i>
      </p>
      <div class="list">
        <p class="driver-name">{{item.title}}</p>
        <p class="name">{{item.waybillNumber}}单</p>
        <span class="val">{{item.progress | unit:'f'}}</span>
      </div>
    </div>
  </div>

</div>

<div *ngIf="crown">
  <div *ngFor="let item of data; let i=index" class="flex item">
    <p class="title">
      <i class="orange">{{i+1}}</i>
    </p>
    <div class="list">
      <p class="driver-name">{{item.title}}</p>
      <p class="name">{{item.waybillNumber}}单</p>
      <span class="val">{{item.progress | unit:'f'}}</span>
    </div>
  </div>
</div>
