@import "variable";
.public {
  flex: 1;
  position: relative;
  padding-top: .27rem;
}
.sort {
  width: 2.56rem;
  padding-top: .27rem;
  margin: 0 auto;
  margin-bottom: .25rem;
  .sort-two {
    @extend .public;
    margin-top: .14rem;
    background: #F4F7FF;
  }
  .sort-one {
    @extend .public;
    background: #F7F9FF;
    .box {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      right: 0;
      bottom: .38rem;
      opacity: .4;
      box-shadow: 0 -3px 4px #D9DFF1;
    }
  }
  .sort-three {
    @extend .public;
    margin-top: .28rem;
    background: #F7F9FF;
  }
  .one-icon {
    position: relative;
    display: block;
    border-radius: 50%;
    width: .18rem;
    height: .18rem;
    color: $black333;
    text-align: center;
    line-height: .18rem;
    background: $yellow;
    &:before {
      content: '';
      position: absolute;
      right: -.07rem;
      top: 50%;
      transform: translateY(-50%);
      width: .05rem;
      height: .1rem;
    }
    &.up:before {
      background: url("../../../assets/images/product/icon-up@2x.png") no-repeat;
      background-size: 100% 100%;
    }
    &.no:before {
      background: linear-gradient(#fff 0.04rem, #eee 0.04em, #eee 0.07rem, #fff 0.07rem);
      background: -ms-linear-gradient(#fff 0.04rem, #eee 0.04em, #eee 0.07rem, #fff 0.07rem);
    }
    &.down:before {
      background: url("../../../assets/images/product/icon-down@2x.png") no-repeat;
      background-size: 100% 100%;
    }
    &.one {
      margin: .17rem auto .18rem;
    }
    &.two {
      margin: .13rem auto .08rem;
    }
    &.three {
      margin: .05rem auto .02rem;
    }
  }
  .content {
    padding: 0 .1rem .1rem;
    line-height: .18rem;
    text-align: center;
    .con-title {
      color: #666;
      margin-bottom: .05rem;
    }
    .con-pro {
      font-weight: 500;
    }
  }
  .content2 {
    @extend .content;
    .con-title {
      display: block;
      color: #333;

      &.con-title-two {
        padding-top: .19rem;
      }
      &.con-title-one {
        padding-top: .24rem;
      }
      &.con-title-three {
        padding-top: .13rem;
      }
      .font12{
        font-weight: bold;
      }
    }
    .num {
      display: block;
      color: #666;
      margin-top: .11rem;
      font-weight: normal;
    }
    .con-pro {
      font-weight: bold;
      display: block;
      &.con-pro-two {
        margin-top: .11rem;
      }
      &.con-pro-one {
        padding-top: .13rem;
      }
      &.con-pro-three {
        padding-top: .09em;
      }
    }
  }
  .icon {
    position: absolute;
    left: 50%;
    top: -.27rem;
    transform: translateX(-50%);
    width: .54rem;
    height: .54rem;
    &.icon1 {
      background: url("../../../assets/images/product/icon-silver@2x.png") no-repeat;
      background-size: 100% 100%;
    }
    &.icon2 {
      z-index: 2;
      background: url("../../../assets/images/product/icon-gold@2x.png") no-repeat;
      background-size: 100% 100%;
    }
    &.icon3 {
      background: url("../../../assets/images/product/icon-copper@2x.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .blue {
    color: $blue;
  }
  .yellow {
    color: $yellow;
  }
  .red {
    color: $red;
  }
}

.item {
  margin: 0 .1rem;
  .title {
    line-height: .3rem;
    i{
      display: inline-block;
      vertical-align: middle;
      width: .22rem;
      height: .22rem;
      margin-right: .1rem;
      text-align: center;
      line-height: .22rem;
      font-weight: 800;
      color: #FFBC53;
      font-size: .12rem;
      &.orange{
        color: #D47A38;
      }
    }
  }
  .list{
    flex:1;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    align-items: center;
    height: .35rem;
    line-height: .35rem;
    display: flex;
    font-size: .12rem;
    p{
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
      font-size: .12rem;
      &.driver-name{
        flex: 2;
      }
      &.name{
        color: #4475FD;
        text-align: center;
      }
    }
    span{
      flex: 1;
      text-align: right;
      color: #4475FD;
      font-size: .12rem;
    }
  }
}
